<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- User List -->
    <section class="users-list-wrapper">
      <!-- users filter start -->
      <div class="card">
        <h5 class="card-header">Search Filter</h5>
        <div class="card-body">
          <div class="users-list-filter">
            <form>
              <div class="row">
                <div class="col-12 col-md-4">
                  <fieldset class="form-group">
                    <ng-select
                      [items]="selectStatus"
                      [(ngModel)]="selectedStatus"
                      (ngModelChange)="changeStatusVal()"
                      name="selectedStatus"
                      bindLabel="name"
                      placeholder="Select Status"
                    ></ng-select>
                  </fieldset>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <!-- users filter end -->

      <div class="card">
        <div class="row">
          <div class="col-md-6 col-12">
            <div class="d-flex justify-content-between align-items-center m-1">
              <label class="d-flex align-items-center"
                >Show
                <select
                  class="form-control mx-25"
                  [(ngModel)]="this.page.limit"
                  (ngModelChange)="changePageLimit()"
                >
                  <option value="10">10</option>
                  <option value="25">25</option>
                  <option value="50">50</option>
                  <option value="100">100</option>
                </select>
                entries</label
              >
            </div>
          </div>
          <div
            class="col-md-6 col-12 d-flex justify-content-start justify-content-md-end"
          >
            <div
              class="d-flex align-items-center justify-content-end pr-1 pb-1 pb-md-0"
            >
              <label class="d-flex align-items-center ml-1 ml-md-0"
                >Search:<input
                  type="search"
                  class="form-control ml-25"
                  [formControl]="searchControl"
              /></label>
              <button
                class="btn btn-primary ml-1"
                rippleEffect
                (click)="toggleSidebar('new-user-sidebar')"
              >
                <i
                  data-feather="plus"
                  class="d-sm-none d-inline-block mr-0 mr-sm-1"
                ></i
                ><span class="d-none d-sm-inline-block">Add New User</span>
              </button>
            </div>
          </div>
        </div>
        <div class="mx-auto mb-2">
          <span
            *ngIf="loading && !rows"
            class="spinner-border spinner-border-sm"
          ></span>
        </div>
        <ngx-datatable
          [hidden]="!rows"
          [rows]="rows"
          [rowHeight]="50"
          class="bootstrap core-bootstrap"
          [columnMode]="ColumnMode.force"
          [headerHeight]="50"
          [footerHeight]="50"
          [scrollbarH]="true"
          [count]="page.totalElements"
          [offset]="page.page - 1"
          [limit]="page.limit"
          (page)="setPage($event)"
          [externalPaging]="true"
          [externalSorting]="true"
          [loadingIndicator]="loading"
          (sort)="onSort($event)"
        >
          <ngx-datatable-column name="User" prop="first_name" [width]="200">
            <ng-template let-row="row" ngx-datatable-cell-template>
              <div class="d-flex align-items-center">
                <div>
                  <div
                    class="avatar mr-1 ml-0"
                    [ngClass]="{
                      'bg-light-success': row.status == '1',
                      'bg-light-secondary': row.status == '2'
                    }"
                  >
                    <div class="avatar-content">
                      {{ row.first_name | initials }}
                    </div>
                  </div>
                </div>
                <div class="cell-line-height">
                  <a
                    routerLink="/dashboard/user/user-view/{{ row._id }}"
                    class="font-medium-1 d-block"
                    ><span class="font-weight-bold">
                      {{ row.first_name }} {{ row.last_name }}</span
                    ></a
                  >

                  <span class="text-muted font-small-2">
                    @{{ row.company }}</span
                  >
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column
            name="Email"
            prop="email"
            [width]="200"
          ></ngx-datatable-column>
          <ngx-datatable-column name="Role" prop="user_type" [width]="100">
            <ng-template let-role="value" ngx-datatable-cell-template>
              <div>
                <i
                  class="feather font-medium-3"
                  [ngClass]="{
                    'icon-user text-primary': role == 2,
                    'icon-slack text-danger': role == 1 || !role
                  }"
                ></i>
                {{ role == 2 ? "Client" : "Admin" }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Status" prop="status" [width]="50">
            <ng-template let-status="value" ngx-datatable-cell-template>
              <div
                class="badge badge-pill"
                [ngClass]="{
                  'badge-light-success': status == 1,
                  'badge-light-secondary': status == 2
                }"
              >
                {{ status == 1 ? "Active" : "Inactive" }}
              </div>
            </ng-template>
          </ngx-datatable-column>
          <ngx-datatable-column name="Actions" [width]="40" [sortable]="false">
            <ng-template ngx-datatable-cell-template let-row="row">
              <div ngbDropdown container="body">
                <button
                  ngbDropdownToggle
                  type="button"
                  class="btn icon-btn btn-sm hide-arrow"
                  rippleEffect
                >
                  <span
                    [data-feather]="'more-vertical'"
                    [class]="'cursor-pointer'"
                  ></span>
                </button>
                <div ngbDropdownMenu>
                  <a
                    routerLink="/dashboard/user/user-view/{{ row._id }}"
                    ngbDropdownItem
                    ><span
                      [data-feather]="'file-text'"
                      [size]="16"
                      [class]="'mr-50'"
                    ></span>
                    Details</a
                  ><a
                    routerLink="/dashboard/user/user-edit/{{ row._id }}"
                    ngbDropdownItem
                    ><span
                      [data-feather]="'edit'"
                      [size]="16"
                      [class]="'mr-50'"
                    ></span>
                    Edit</a
                  ><a (click)="deleteUser(row._id)" ngbDropdownItem
                    ><span
                      [data-feather]="'trash'"
                      [size]="16"
                      [class]="'mr-50'"
                    ></span>
                    Delete</a
                  >
                </div>
              </div>
            </ng-template>
          </ngx-datatable-column>
        </ngx-datatable>
      </div>
    </section>
    <!--/ User List -->
  </div>

  <!-- New User Sidebar -->
  <core-sidebar
    class="modal modal-slide-in sidebar-todo-modal fade"
    name="new-user-sidebar"
    overlayClass="modal-backdrop"
  >
    <app-new-user-sidebar></app-new-user-sidebar>
  </core-sidebar>
  <!--/ New User Sidebar -->
</div>
