<!-- Tridhya loading Screen -->
<core-loading-screen id="loading-bg" *ngIf="loading">
  <div class="loading-logo">
    <img src="assets/images/logo/tridhya-logo.png" alt="Logo" />
  </div>
  <div class="loading">
    <div class="effect-1 effects"></div>
    <div class="effect-2 effects"></div>
    <div class="effect-3 effects"></div>
  </div>
</core-loading-screen>
<!-- / Tridhya loading Screen -->

<router-outlet *ngIf="!loading"></router-outlet>

<!-- theme customizer -->
<core-sidebar
  name="themeCustomizer"
  class="customizer d-none d-md-block"
  [invisibleOverlay]="true"
  *ngIf="coreConfig.layout.customizer"
>
  <a
    class="customizer-toggle d-flex align-items-center justify-content-center"
    (click)="toggleSidebar('themeCustomizer')"
  >
    <span [data-feather]="'settings'" [class]="'spinner'"></span>
  </a>
  <core-theme-customizer></core-theme-customizer>
</core-sidebar>
<!-- / theme customizer -->
