<div class="content-wrapper container-xxl p-0">
  <div class="content-body">
    <!-- content-header component -->
    <app-content-header [contentHeader]="contentHeader"></app-content-header>

    <div id="user-profile">
      <!-- profile header -->
      <div class="row">
        <div class="col-12">
          <div class="card profile-header mb-2">
            <!-- profile cover photo -->
            <img
              class="card-img-top"
              src="assets/images/profile/user-uploads/timeline.jpg"
              alt="User Profile Image"
            />
            <!--/ profile cover photo -->

            <div class="position-relative">
              <!-- profile picture -->
              <div class="profile-img-container d-flex align-items-center">
                <div class="profile-img">
                  <img
                    src="assets/images/portrait/small/avatar-s-1.jpg"
                    class="rounded img-fluid"
                    alt="Card image"
                  />
                </div>
                <!-- profile title -->
                <div class="profile-title ml-3">
                  <h2 class="text-white">John Doe</h2>
                  <p class="text-white">Operation Manager</p>
                </div>
              </div>
            </div>

            <!-- tabs pill -->
            <div class="profile-header-nav">
              <!-- navbar -->
              <nav
                class="navbar navbar-expand-md navbar-light justify-content-end justify-content-md-between w-100"
              >
                <button
                  class="btn btn-icon navbar-toggler"
                  type="button"
                  data-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent"
                  aria-expanded="false"
                  aria-label="Toggle navigation"
                  (click)="toggleMenu = !toggleMenu"
                  rippleEffect
                >
                  <i data-feather="align-justify" class="font-medium-5"></i>
                </button>

                <!-- collapse  -->
                <div
                  class="collapse navbar-collapse"
                  id="navbarSupportedContent"
                  [ngbCollapse]="toggleMenu"
                >
                  <div
                    class="profile-tabs d-flex justify-content-between flex-wrap mt-1 mt-md-0"
                  >
                    <ul class="nav nav-pills mb-0">
                      <li class="nav-item">
                        <a
                          class="nav-link font-weight-bold active"
                          href="javascript:void(0)"
                        >
                          <span class="d-none d-md-block">Feed</span>
                          <i data-feather="rss" class="d-block d-md-none"></i>
                        </a>
                      </li>
                      <li class="nav-item">
                        <a
                          class="nav-link font-weight-bold"
                          href="javascript:void(0)"
                        >
                          <span class="d-none d-md-block">About</span>
                          <i data-feather="info" class="d-block d-md-none"></i>
                        </a>
                      </li>
                    </ul>
                    <!-- edit button -->
                    <button
                      class="btn btn-primary"
                      rippleEffect
                      (click)="redirectToEdit()"
                    >
                      <i data-feather="edit" class="d-block d-md-none"></i>
                      <span class="font-weight-bold d-none d-md-block"
                        >Edit</span
                      >
                    </button>
                  </div>
                </div>
                <!--/ collapse  -->
              </nav>
              <!--/ navbar -->
            </div>
          </div>
        </div>
      </div>
      <!--/ profile header -->

      <!-- profile info section -->
      <section id="profile-info">
        <div class="row">
          <!-- left profile info section -->

          <!-- about -->
          <div class="col-md-6 col-12 order-2 order-lg-1">
            <div class="card">
              <div class="card-body">
                <h5 class="mb-75">About</h5>
                <p class="card-text">
                  <!-- {{ data.profileData.userAbout.about }} -->
                  {{ data?.data?.company }}
                </p>
                <div class="mt-2">
                  <h5 class="mb-75">Joined:</h5>
                  <p class="card-text">
                    <!-- {{ data.profileData.userAbout.joined }} -->
                    {{ data?.data?.created_at | date : "dd/MM/yyyy" }}
                  </p>
                </div>
                <div class="mt-2">
                  <h5 class="mb-75">Lives:</h5>
                  <p class="card-text">
                    {{ data?.data?.company }}
                    <!-- {{ data.profileData.userAbout.lives }} -->
                  </p>
                </div>
                <div class="mt-2">
                  <h5 class="mb-75">Email:</h5>
                  <p class="card-text">
                    {{ data?.data?.email }}
                    <!-- {{ data.profileData.userAbout.email }} -->
                  </p>
                </div>
                <div class="mt-2">
                  <h5 class="mb-50">Website:</h5>
                  <p class="card-text mb-0">
                    {{ data?.data?.email }}
                    <!-- {{ data.profileData.userAbout.website }} -->
                  </p>
                </div>
              </div>
            </div>
          </div>
          <!--/ about -->

          <!-- twitter feed card -->
          <div class="col-md-6 col-12 order-2 order-lg-1">
            <div class="card">
              <div class="card-body">
                <h5>Twitter Feeds</h5>
                <!-- twitter feed -->
                <div
                  class="profile-twitter-feed mt-2"
                  *ngFor="
                    let twitterFeedsRef of data?.profileData?.twitterFeeds || []
                  "
                >
                  <div
                    class="d-flex justify-content-start align-items-center mb-1"
                  >
                    <div class="avatar mr-1">
                      <img
                        [src]="twitterFeedsRef.imgUrl"
                        alt="avatar img"
                        height="40"
                        width="40"
                      />
                    </div>
                    <div class="profile-user-info">
                      <h6 class="mb-0">{{ twitterFeedsRef.title }}</h6>
                      <a href="javascript:void(0)">
                        <small class="text-muted">{{
                          twitterFeedsRef.id
                        }}</small>
                        <i data-feather="check-circle"></i>
                      </a>
                    </div>
                    <div class="profile-star ml-auto">
                      <i
                        class="font-medium-3 fa"
                        [ngClass]="{
                          'fa-star text-warning':
                            twitterFeedsRef.favorite === true,
                          'fa-star-o': twitterFeedsRef.favorite !== true
                        }"
                      ></i>
                    </div>
                  </div>
                  <p class="card-text mb-50">{{ twitterFeedsRef.desc }}</p>
                  <a href="javascript:void(0)">
                    <small>{{ twitterFeedsRef.tags }}</small>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <!--/ twitter feed card -->
        </div>
      </section>
      <!--/ profile info section -->
    </div>
  </div>
</div>
