<!-- Ecommerce Item -->
<div class="item-img text-center">
  <a [routerLink]="'/dashboard/e-commerce/details/' + product?.id">
    <img
      class="img-fluid card-img-top"
      alt="img-placeholder"
      [lazyLoad]="product?.image"
    />
  </a>
</div>
<div class="card-body">
  <div class="item-wrapper">
    <div class="item-cost">
      <h6 class="item-price">${{ product?.price }}</h6>
    </div>
  </div>
  <h6 class="item-name">
    <a
      class="text-body"
      [routerLink]="'/dashboard/e-commerce/details/' + product?.id"
    >
      {{ product?.name }}</a
    >
    <span class="card-text item-company"
      >By
      <a href="javascript:void(0)" class="company-name">{{
        product?.brand
      }}</a></span
    >
  </h6>
  <p class="card-text item-description">
    {{ product?.description }}
  </p>
</div>
<div class="item-options text-center">
  <div class="item-wrapper">
    <div class="item-cost">
      <h4 class="item-price">${{ product?.price }}</h4>
      <p class="card-text shipping" *ngIf="product?.hasFreeShipping">
        <span class="badge badge-pill badge-light-success">Free Shipping</span>
      </p>
    </div>
  </div>
  <button
    [disabled]="isMatching && loading"
    *ngIf="product.isDisabled"
    class="btn btn-light btn-cart"
    (click)="toggleProductAvailibility(product.id)"
    rippleEffect
  >
    <span
      *ngIf="isMatching && loading"
      class="spinner-border spinner-border-sm mr-1"
    ></span>
    <i data-feather="minus-circle" class="mr-25"></i>
    <span class="add-to-cart">Disable</span>
  </button>
  <button
    [disabled]="isMatching && loading"
    *ngIf="!product.isDisabled"
    class="btn btn-primary btn-cart"
    (click)="toggleProductAvailibility(product.id)"
    rippleEffect
  >
    <span
      *ngIf="isMatching && loading"
      class="spinner-border spinner-border-sm mr-1"
    ></span>
    <i data-feather="file-plus" class="mr-25"></i>
    <span class="add-to-cart">Enable</span>
  </button>
</div>
<!--/ Ecommerce Item -->
