<!-- Ecommerce Sidebar Starts -->
<div class="row mt-1 d-none d-lg-block">
  <div class="col-sm-12">
    <h6 class="filter-heading">Filters</h6>
  </div>
</div>
<div class="card">
  <div class="card-body">
    <!-- Price Filter starts -->
    <div class="multi-range-price">
      <h6 class="filter-title mt-0">Multi Range</h6>
      <ul
        class="list-unstyled price-range"
        id="price-range"
        (change)="changeMultiRange($event)"
      >
        <li *ngFor="let item of productMultiRange; let i = index">
          <div class="custom-control custom-radio">
            <input
              type="radio"
              id="priceAll-{{ i }}"
              class="custom-control-input"
              name="priceAll"
              [value]="item.value"
              [checked]="item.checked"
            />
            <label class="custom-control-label" for="priceAll-{{ i }}">{{
              item.label
            }}</label>
          </div>
        </li>
      </ul>
    </div>
    <!-- Price Filter ends -->

    <!-- Price Slider starts -->
    <div class="price-slider">
      <h6 class="filter-title">Price Range</h6>
      <div class="price-slider">
        <nouislider
          [connect]="true"
          [ngClass]="'mt-3'"
          [behaviour]="'drag'"
          [tooltips]="true"
          [min]="1"
          [max]="100"
          [limit]="100"
          [step]="2"
          [(ngModel)]="sliderPriceValue"
          (change)="changePriceRange($event)"
        ></nouislider>
      </div>
    </div>
    <!-- Price Range ends -->

    <!-- Categories Starts -->
    <div id="product-categories">
      <h6 class="filter-title">Categories</h6>
      <ul
        class="list-unstyled categories-list"
        (change)="changeCategories($event)"
        id="categories"
      >
        <li *ngFor="let item of productCategories; let i = index">
          <div class="custom-control custom-radio">
            <input
              type="radio"
              id="category-{{ i }}"
              class="custom-control-input"
              name="product-categories"
              [value]="item.value"
              [checked]="item.checked"
            />
            <label class="custom-control-label" for="category-{{ i }}">{{
              item.label
            }}</label>
          </div>
        </li>
      </ul>
    </div>
    <!-- Categories Ends -->

    <!-- Brands starts -->
    <div class="brands">
      <h6 class="filter-title">Brands</h6>
      <ul class="list-unstyled brand-list" (change)="changeBrands($event)">
        <li *ngFor="let item of productBrands; let i = index">
          <div class="custom-control custom-checkbox">
            <input
              type="checkbox"
              class="custom-control-input"
              id="productBrand-{{ i }}"
              [value]="item.key"
              [checked]="item.checked"
              [(ngModel)]="item.checked"
            />
            <label class="custom-control-label" for="productBrand-{{ i }}">{{
              item.key
            }}</label>
          </div>
          <span>{{ item.counts }}</span>
        </li>
      </ul>
    </div>
    <!-- Brand ends -->

    <!-- Rating starts -->
    <div id="ratings">
      <h6 class="filter-title">Ratings</h6>
      <div class="ratings-list" *ngFor="let item of productRating">
        <a (click)="ratingChange(item.rating)">
          <span class="rating rating-sm">
            <ngb-rating
              [rate]="item.rating"
              [readonly]="true"
              [max]="5"
              class="outline-none"
            >
              <ng-template let-fill="fill" let-index="index"
                ><span
                  class="fa fa-star-o mr-25"
                  [class.fa-star]="fill === 100"
                ></span
              ></ng-template>
            </ngb-rating>
          </span>
          <span *ngIf="item.rating == 4"> & up </span>
        </a>
        <div class="stars-received">{{ item.counts }}</div>
      </div>
    </div>
    <!-- Rating ends -->

    <!-- Clear Filters Starts -->
    <div id="clear-filters">
      <button
        type="button"
        class="btn btn-block btn-primary"
        (click)="clearAllFilters()"
        rippleEffect
      >
        Clear All Filters
      </button>
    </div>
    <!-- Clear Filters Ends -->
  </div>
</div>
<!-- Ecommerce Sidebar Ends -->
