<div class="auth-wrapper auth-v2">
  <div class="auth-inner row m-0">
    <!-- Brand logo--><a class="brand-logo" href="javascript:void(0);">
      <img src="{{ coreConfig.app.appLogoImage }}" alt="brand-logo" height="28" />
      <h2 class="brand-text text-primary ml-1">
        {{ coreConfig.app.appName }}
      </h2>
    </a>
    <!-- /Brand logo-->
    <!-- Left Text-->
    <div class="d-none d-lg-flex col-lg-8 align-items-center p-5">
      <div class="w-100 d-lg-flex align-items-center justify-content-center px-5">
        <img class="img-fluid" [src]="
            coreConfig.layout.skin === 'dark'
              ? 'assets/images/pages/register-v2-dark.svg'
              : 'assets/images/pages/register-v2.svg'
          " alt="Register V2" />
      </div>
    </div>
    <!-- /Left Text-->
    <!-- Register-->
    <div class="d-flex col-lg-4 align-items-center auth-bg px-2 p-lg-5">
      <div class="col-12 col-sm-8 col-md-6 col-lg-12 px-xl-2 mx-auto">
        <h2 class="card-title font-weight-bold mb-1">
          Adventure starts here 🚀
        </h2>
        <p class="card-text mb-2">Make your app management easy and fun!</p>
        <ngb-alert [type]="'danger'" [dismissible]="false" *ngIf="error">
          <div class="alert-body">
            <p>{{ error }}</p>
          </div>
        </ngb-alert>
        <form class="auth-register-form mt-2" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="register-firstname" class="form-label">First name</label>
            <input type="text" formControlName="firstName" class="form-control" placeholder="John"
              aria-describedby="register-firstname" tabindex="1" autofocus
              [ngClass]="{ 'is-invalid': (f.firstName.touched || submitted) && f.firstName.errors }" />
            <div *ngIf="(f.firstName.touched || submitted) && f.firstName.errors" class="invalid-feedback">
              <div *ngIf="f.firstName.errors.required">
                First name is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="register-lastname" class="form-label">Last name</label>
            <input type="text" formControlName="lastName" class="form-control" placeholder="Doe"
              aria-describedby="register-lastname" tabindex="2"
              [ngClass]="{ 'is-invalid': (f.lastName.touched || submitted) && f.lastName.errors }" />
            <div *ngIf="(f.lastName.touched || submitted) && f.lastName.errors" class="invalid-feedback">
              <div *ngIf="f.lastName.errors.required">
                Last name is required
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="register-email" class="form-label">Email</label>
            <input type="text" formControlName="email" class="form-control" placeholder="john@example.com"
              aria-describedby="register-email" tabindex="3"
              [ngClass]="{ 'is-invalid': (f.email.touched || submitted) && f.email.errors }" />
            <div *ngIf="(f.email.touched || submitted) && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.pattern">
                Must be a valid email address
              </div>
            </div>
          </div>

          <div class="form-group">
            <label for="register-password" class="form-label">Password</label>

            <div class="input-group input-group-merge form-password-toggle">
              <input [type]="passwordTextType ? 'text' : 'password'" formControlName="password"
                class="form-control form-control-merge" placeholder="············" aria-describedby="register-password"
                tabindex="4" [ngClass]="{
                  'is-invalid error': (f.password.touched || submitted) && f.password.errors
                }" />
              <div class="input-group-append">
                <span class="input-group-text cursor-pointer"><i class="feather font-small-4" [ngClass]="{
                      'icon-eye-off': passwordTextType,
                      'icon-eye': !passwordTextType
                    }" (click)="togglePasswordTextType()"></i></span>
              </div>
            </div>
            <div *ngIf="(f.password.touched || submitted) && f.password.errors" class="invalid-feedback"
              [ngClass]="{ 'd-block': (f.password.touched || submitted) && f.password.errors }">
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.pattern">
                Password length must be atleast 8 characters, must contain 1 uppercase character and a special character
                (@, $, !, &,
                etc).
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="custom-control custom-checkbox">
              <input class="custom-control-input" type="checkbox" id="register-privacy-policy" tabindex="5"
                formControlName="agreePolicy" [ngClass]="{ 'is-invalid': submitted && f.agreePolicy.errors }" />
              <label class="custom-control-label" for="register-privacy-policy">
                I agree to
                <a>privacy policy & terms</a>
              </label>
              <div *ngIf="submitted && f.agreePolicy.errors" class="invalid-feedback">
                Please confirm that you read and understood the privacy policy
              </div>
            </div>
          </div>
          <button [disabled]="loading" class="btn btn-primary btn-block" tabindex="6" rippleEffect>
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Sign up
          </button>
        </form>
        <p class="text-center mt-2">
          <span>Already have an account?</span><a routerLink="/authentication/login"><span>&nbsp;Sign in
              instead</span></a>
        </p>
        <div class="divider my-2">
          <div class="divider-text">or</div>
        </div>
        <div class="auth-footer-btn d-flex justify-content-center">
          <a class="btn btn-facebook" href="javascript:void(0)"><i data-feather="facebook"></i></a><a
            class="btn btn-twitter white" href="javascript:void(0)"><i data-feather="twitter"></i></a><a
            class="btn btn-google" href="javascript:void(0)"><i data-feather="mail"></i></a><a class="btn btn-github"
            href="javascript:void(0)"><i data-feather="github"></i></a>
        </div>
      </div>
    </div>
    <!-- /Register-->
  </div>
</div>